%h1 Hey lets go find some fun movies to watch.



%form{action:"/"}
  Movie Title:
  %input{type:"text", name:"title", placeholder:"Avengers"}

  %br
  %input{type:"submit", value:"Submit"}


- if @movies_array
  %h2 Movies
  - @movies_array.each do |movie|
    %h3= movie["Title"]
    = movie["Year"]
    = movie["imdbOD"]
